.modal {
    /* display: block;  */
    display: flex;
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    padding-left: 50px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.addLabForm {
    display: flex;
    flex-direction: column;
}

.removeBtn {
    width: 70px;
}
.addIndexBtn{
    width: 110px;
}
.addSubjectBtn {
    width: 150px;
}

