.kabinet-container {
    padding: 20px;
}

.cabinet-list,
.delete-cabinet-list {
    margin-top: 20px;
}

.cabinet-list div,
.delete-cabinet-list div {
    padding: 9px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 15px;
    font-weight: bold;
}

.cabinet-list div {
    width: 100px;
}
.delete-cabinet-list div {
    width: 350px;
}

.cabinet-detail {
    margin-top: 20px;
}

.computer-matrix {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.computer {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.malfunctionedComputer {
    background-color: black;
}

.workingComputer {
    background-color: green;
}

.computer-box {                 /*I'm not using this for now*/
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.computer-box.selected {        /*I'm not using this for now*/
    background-color: #aaf;
}
.selected {
    background-color: #aaf;
}

.malfunctionDescription {
    margin-left: 150px;
    width: 350px;
    min-width: 100px;
    max-width: 200px;
    height: 75px;
    float: left;
    background-color: #03A9F4;
    border: 2px solid blue;
    color: white;
}

.manage-form {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
}

.manage-form label {
    display: block;
    margin-bottom: 10px;
}

.manage-form button {
    margin-right: 10px;
}

.add-cabinet-form {
    margin-top: 20px;
}

.add-cabinet-form input {
    display: block;
    margin-bottom: 10px;
}

.add-cabinet-form button {
    margin-right: 10px;
}

.kabinet-container button {
    background-color: #007bff;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.showingCabinetContainer {
    width: fit-content;
    margin-left: 20px;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 20px;
}
.showingCabinetContainer h3{
    color: black;
}

.cabinetGridContainer {
    display: inline-grid;
}

.cabinetGridItem{
    margin-right: 115px;
    margin-bottom: 20px;
}






