body {
    height: 100%;
    width: 100%;
}

.page {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    /* margin-left: 25px; */
    /* object-fit: contain; */
    /* background-image: url(../images/loginBackground.jpg); */
    /* padding: 5%; */
}
.title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.pageHeader {
    display: flex;
    justify-content:start;
    align-items: center;
    background-color:#03A9F4 ;
    position: sticky;
    top:0;
    padding: 15px;
}

.sidebar-buttons{
    margin: 10px;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.pageAside {
    width: auto;
    height: 100%;
    padding-right: 15px;
    /* margin-left: 10px; */
    /* padding: 20px; */
    float: left;
    background-color:#64B5F6;
}

.toggleButton {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#03A9F4;
    color: white;
    border: none;
    font-size: 33px;
}

.navbar a {
    border-radius: 30px;
    width: 100%;
    color: white;
    padding: 15px;
    font-family: "JetBrains Mono", "Georgia", serif;
    font-size: 10pt;
}
.navbar a:hover {
    /* border-radius: 30px; */
    background-color:whitesmoke; /*will change background-color of element on hover */
    color: black; /*will change color of text within the element on hover */
 }

main {
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 100vw;
    padding: 20px;
    border: 20px;
}

main div {
    border: 40px;
}

main button {
    width: 300px;
}

.sidebar-buttons-wrapper{
    /* margin-top: -20px; */
}

.user-info {
    margin-bottom: 20px;
    margin-left: 20px;
}

.user-info h2 {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

.user-info h2:first-child {
    margin-top: 0;
}

.user-info h2:last-child {
    margin-bottom: 0;
}