body {
    height: 100%;
    width: 100%;
}

.student-page {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    /*object-fit: contain;*/
    /*background-image: url(../images/loginBackground.jpg);*/
    /*padding: 5%;*/
}

.studentContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

aside {
    width: auto;
    height: 100%;
    padding-left: 10px;
    margin-left: 10px;
    padding: 20px;
    float: left;
    background-color:dimgray;
}

nav {
    background-color: dimgray;
    
}

.navbar a {
    color: white;
    font-family: "Georgia", serif;
    padding: 15px;
}
.navbar a:hover {
    border-radius: 30px;
    background-color:whitesmoke; /*will change background-color of element on hover */
    color: black; /*will change color of text within the element on hover */
}

main {
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 100vw;
    padding: 20px;
    border: 20px;
}

main div {
    border: 40px;
}

main button {
    width: 300px;
}