body {
    height: 100%;
    width: 100%;
    font-family: "JetBrains Mono", "Georgia", serif;
}

.student-page {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    font-family: "JetBrains Mono", "Georgia", serif;
    /* margin-left: 25px; */
    /* object-fit: contain; */
    /* background-image: url(../images/loginBackground.jpg); */
    /* padding: 5%; */
}
.title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.StudentHeader {
    display: flex;
    justify-content:start;
    align-items: center;
    background-color:#03A9F4 ;
    position: sticky;
    top:0;
    padding: 15px;
}

.sidebar-buttons{
    margin: 10px;
}

.studentContainer {
    /* display: flex;
    flex-direction: row; */
    height: 100%;
    width: 100%;
    font-family: "JetBrains Mono", "Georgia", serif;
}

.StudentAside {
    width: auto;
    height: 100%;
    padding-left: 10px;
    /* margin-left: 10px; */
    /* padding: 20px; */
    float: left;
    background-color:#64B5F6;
}

.toggleButton {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#03A9F4;
    color: white;
    border: none;
    font-size: 33px;
}

.navbar a {

    border-radius: 30px;
    width: 100%;
    color: white;
    font-family: "JetBrains Mono", "Georgia", serif;
    padding: 15px;
}
.navbar a:hover {
    /* border-radius: 30px; */
    background-color:whitesmoke; /*will change background-color of element on hover */
    color: black; /*will change color of text within the element on hover */
 }

main {
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: 100vw;
    padding: 20px;
    border: 20px;
}

main div {
    border: 40px;
}

main button {
    width: 300px;
}

.sidebar-buttons-wrapper{
    /* margin-top: -20px; */
}